@using SimplifikasiFID.Models;
@model  string

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Table with Header</title>
</head>
<body>
    @Html.Raw(Model)

</body>
</html>

