@{
    //Layout = null;
}
@{
    var doDate = DateTime.Now.ToString("dd MMMM yyyy");
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    table {
        width: 95%;
        border-collapse: collapse;
        margin: auto;
    }

    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    thead {
        display: table-row-group; /* Ensure header repeats on each page */
    }

    tfoot {
        display: table-footer-group; /* Ensure footer repeats on each page */
    }

    .page-break {
        page-break-before: always;
    }

    tr {
        height: 25px;
    }

    .td-none {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .biru {
        background-color: #ccedff;
    }

    .ace-file-input .ace-file-container.selected + .remove {
        display: none;
    }

    .preview-container {
        margin-top: 20px;
    }

        .preview-container img {
            max-width: 100%;
            max-height: 500px;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

    .remove-button {
        display: none;
        cursor: pointer;
        color: red;
    }

    .col-md-1 {
        width: 8.33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-md-2 {
        width: 16.666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333%;
    }

    .col-md-5 {
        width: 41.67%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333%;
    }

    .col-md-8 {
        width: 66.67%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.333%;
    }

    .col-md-11 {
        width: 91.67%;
    }

    .col-md-12 {
        width: 100%;
    }

    ul, ol {
        list-style-type: none;
    }

    li.row {
        display: flex;
        margin-bottom: 10px;
    }

        li.row .col-md-1,
        li.row .col-md-10 {
            display: flex;
            align-items: center;
        }
</style>

<div id="doc-hr">
    @*<button class="btn btn-primary" type="button" onclick="addSpeciment()">Add Specimen</button>*@
    <table id="tblHR">
        <thead>
            <tr>
                <td class="col-md-12" style="text-align:center; font-size:16px; border: none;" colspan="4">
                    <span><b>REVIEW USULAN INVESTASI</b></span><br />
                    <span><b>GATE REVIEW</b></span><br />
                    <span><b>PT. PERTAMINA RETAIL</b></span>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="col-md-2" style="font-size:12px;">
                    <span><b>Nama Project</b></span>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <b></b>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size:12px;">
                    <b>Fungsi Pengusul</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size:12px;">
                    <b>Fungsi Pelaksana</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size:12px;">
                    <b>Direktorat</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size:12px;">
                    <b>Kategori</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size:12px;">
                    <b>Bidang</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Total Nilai Proyek</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Total Kebutuhan ABI</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Justifikasi</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Ruang Lingkup Kegiatan</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Tata Waktu Proyek</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Rincian Nilai Investasi & Drawdown</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Aspek Keekonomian</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Review / Evaluasi Gate Reviewers Team Unit Bisnis</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td class="col-md-2" style="font-size: 12px; vertical-align: top;">
                    <b>Kesimpulan</b>
                </td>
                <td class="col-md-10" style="font-size:14px;" contenteditable="true" colspan="3">
                    <p></p>
                </td>
            </tr>

            <tr style="page-break-inside: avoid !important;">
                <td colspan="4" style="text-align:center; vertical-align:bottom; height:100px; border:none; page-break-inside: avoid !important;">
                    <span>Gate Reviewers,</span>
                </td>
            </tr>
            <tr>
                <td class="col-md-12" colspan="2" style="font-size:16px; text-align:center; border: none;">
                    <table>
                        <tr>
                            <td class="col-md-3" style="border: none;"></td>
                            <td class="col-md-6" style="text-align: center;" contenteditable="true">
                                <section class="text-for-signature"><b>Input Text Here</b></section>
                            </td>
                            <td class="col-md-3" style="border: none;"></td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="border: none;"></td>
                            <td id="specimen-hr" class="col-md-6" style="font-size:20px; text-align:center; height:170px;">
                                Specimen Here
                            </td>
                            <td class="col-md-3" style="border: none;"></td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="border: none;"></td>
                            <td class="col-md-6" style="text-align: center;" contenteditable="true">
                                <section class="text-for-signature"><b>Input Text Here</b></section>
                            </td>
                            <td class="col-md-3" style="border: none;"></td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="border: none;"></td>
                            <td class="col-md-6" style="text-align: center;" contenteditable="true">
                                <section class="text-for-signature"><b>Input Text Here</b></section>
                            </td>
                            <td class="col-md-3" style="border: none;"></td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="border: none;"></td>
                            <td class="col-md-6" style="text-align: left;" contenteditable="true">
                                <span id="date-hr-sgtr">Tanggal : </span>
                            </td>
                            <td class="col-md-3" style="border: none;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>

    </table>

</div>

<script>

    function addSpeciment() {

        var speciment = $.ajax({
            /* url: URL_PTPR + '/FID/SaveFID',*/
            url: URL_PTPR + '/OnlineForm/AddSignature',
            type: 'GET',
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {

                if (data != '') {

                    var dataimg = data.img64string;
                    var img = $('<img>').attr('src', 'data:image/jpeg;base64,' + data.img64string);

                    $('#specimen-hr').html(img);

                };

            }
        });

    }
</script>